body{
    background: #40bf40;
  background-image: url(image/fond.jpg);
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: cover;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
}
#container2{
    width:600px;
    margin:0 auto;
    margin-top:5%;
}
#container3{
    width:50%;
    margin:0 auto;
    margin-top:2%;
    background : rgb(110, 110, 110)
}
#container3 img{
    margin-left: auto;
    margin-right: auto;
    
}
/* Bordered form */
form {
    width:90%;
    padding: 50px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Defini un style pour tout les boutons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

.flotte {
    float:left;
}

